POSTGRES_USER=postgres
POSTGRES_PASSWORD=my_super_secret_password
POSTGRES_DB=ancord_db
DB_URL=postgres://postgres:my_super_secret_password@127.0.0.1:5436/ancord_db?sslmode=disable
JWT_KEY=super_secret_key_123
PORT=8080

TURN_PUBLIC_IP=127.0.0.1
TURN_PORT=3478
TURN_USERNAME=ancord-user
TURN_PASSWORD=secure-password-1712859275
KAFKA_BROKER=kafka:9092